@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=PT+Sans+Narrow&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    background-color: #FAFCF8;
}
body {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    color: #4a4a4a;
    font-size: larger;
}
body h3 {
    font-size: 45px;
}
/*headings and logo*/
h1, h3 {
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #719B43;
    margin-left: 5px;
    padding: 20px;
}
.megan {
    text-align: left;
    color: #888E8E;
    font-size: 25px;
    font-family: 'PT Sans Narrow', sans-serif;
    margin-top: -10px;
    text-transform: capitalize;
}
hr {
    border-top: 1px outset #888E8E;
    width: 100%;
    margin: 5px 0;
}
#logo {
    float: left;
    font-size: 250%;
}
/*navigation links*/
#menu-bar {
    font-size: 120%;
    letter-spacing: 5px;
    font-weight: bold;
    padding: 30px;
}
#menu-bar a {
    text-decoration: none;
    color: rgb(220, 108, 51);
}
#logo {
    line-height: 75px;
}
#menu-bar a:hover {
    border-bottom: 1px solid rgb(220, 108, 51);
}
#menu-bar li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 20px;
}
.active {
    border-bottom: none;
}
/*hero image*/
#hero-image {
    background-image: url(../assets/images/hero-image.jpeg);
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-left: -4px;
    margin-right: -4px;
}
.welcome {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: #4a4a4a;
    font-weight: bold;
    margin: 4% 2% 4% 2%;
    font-size: larger;
    box-sizing: content-box;
    border: 1px solid #888E8E;
    border-radius: 10px;
    padding: 2%;
    letter-spacing: 0.5px;
}
/*biography and portrait*/
.column {
    margin: auto;
    justify-content: center;
    display: flex;
    width: 100%;
    padding: 5px;
}
.row {
    display: flex;
    justify-content: center;
}
.biography {
    text-align: center;
    margin: 10px;
    text-decoration: underline;
}
#robin {
    text-align: center;
    margin: 20px;
    font-size: 20px;
}
 #video {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
 #video-text {
    text-align: center;
    margin-top: 10px;
    font-size: larger;
 }
/*social networks & footer*/
footer {
    height: 190px;
}
.social-networks {
    text-align: center;
}
.social-networks li {
    display: inline;
}
.social-networks i {
    font-size: 130%;
    margin: 30px 0 30px 0;
    padding: 5%;
    color: black;
}
footer > h2 {
    text-align: center;
    color: #888E8E;
    padding-top: 6%;
}
/*book collection*/
#castle {
    background-image: url(../assets/images/castle.jpeg);
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#summary {
    font-size: inherit;
    font-family: inherit;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    text-align: center;
}
#early-work {
    font-family: 'Nunito', sans-serif;
    margin-bottom: 15px;
}
.row2 {
    display: block;
    flex-wrap: wrap;
    opacity: 0.83;
}   
.column2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
#chronological {
    text-align: center;
    margin-left: 10%;   
    margin-right: 10%;
}
#order {
    text-align: center;
    margin-bottom: -4%;
    font-family: cursive;
    color: #888E8E;
}
#list {
    list-style-type: none;
    text-align: center;
    padding: 5%;
}
ul lh {
    font-size: x-large;
    font-weight: 1000;
    color: #719B43;
}
ul hr {
    width: 40%;
    margin-left: 30%;
}
li {
    margin: 15px;
    text-align: center;
}
/*meetup section styling*/
.meetup-section {
    clear: left;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.book-club {
    background-image: url(../assets/images/dragonbooks.jpeg);
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    object-fit: fill;
}
.email  {
    text-align: center;
    padding: 2%;
    margin: 2px;
    font-size: 25px;
}
input[type=submit] {
	margin-top: 20px;
	margin-left: 1rem;
	padding: 8px;
	background-color: #719B43;
	color: white;
	border: none;
	border-radius: 7px;}
#email-field {
    border: solid 1px #719B43;
    border-radius: 5px;
    height: 30px;    
    text-align: left;
}
form > p {
    margin: 40px;
    color: #4a4a4a;
    font-size: 24px;
    box-sizing: content-box;
    border: 1px solid #888E8E;
    border-radius: 10px;
    padding: 2%;
}
form > h2 {
    margin-top: 5%;
}
.reviews {
    font-family: cursive;
    color: #888E8E;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    text-transform: none;
    font-size: 25px;
    letter-spacing: 2px;
}
/* meetup times*/
.meetup-times {
    list-style-type: none;
    box-sizing: content-box;
    border: 1px solid green;
    border-radius: 5px;
    padding: 10px;
    width: 500px;
    margin-left: 32.5%;
    margin-bottom: 35px;
}
.map {
    margin-left: 16%;
}  
/*form dump styles*/
#thanks {
    background-image: url(../assets/images/thanks2.jpeg);
    height: 750px;
    width: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-left: 15%;
    background-blend-mode: darken;
}
/*media queries*/
/* For large to medium screens sizes from 2560px wide and down */
@media screen and (min-width: 2560px) and (max-width: 2560px){
    #menu-bar  {
        display: flex;
        flex-direction: row-reverse;
        float: right;
        line-height: 20px;
        margin-top: -10px;
        font-size: 50px;
    }
    .welcome {
        font-size: 45px;
    }
    .reviews {
        width: 100%;
        font-size: 40px;
        padding: 25px 0 25px 0;
     }
    .biography {
        padding: 30px 0;
        margin-top: 0;
    }
    .row img {
        max-width: 100%;
        height: 850px;
        display: block;
    }
    .column2 img {
        width: 80%;
        height: auto;
    }
    section iframe {
        width: 60%;
        margin-left: 10%;
    }
    .megan {
        max-width: 40%;
        margin-left: 4%;
        font-size: 50px;
        margin-top: 60px;
    }
    #logo {
        max-width: 50%;
        margin-top: -1%;
        font-size: 80px;
        position: sticky;
    }
    .biography {
        padding: 30px 0;
        margin-top: 0;
        font-size: 70px;
    }
    #robin {
        font-size: 50px;
    }
    #video {
        position: relative;
        overflow: hidden;
    }
    section iframe {
        width: 40%;
        margin-left: 0;
    }
    #video-text {
        font-size: 50px;
        padding-bottom: 10%;
    }
    footer h2 {
        font-size: 60px;
    }
    .social-networks {
        font-size: 50px;
    }
    #early-work {
        font-size: 50px;
        text-decoration: solid 1px #4a4a4a;
        margin-top: -4%;
    }
    #summary {
        font-size: 40px;
    }
    #chronological {
        font-size: 40px;
    }
    #list lh {
        font-size: 50px;
    }
    #hero-image {
        display: flex;
        margin: 0;
        width: auto;
        height: 1200px;
    }
    .book-club {
        display: flex;
        margin: 0;
        width: auto;
        height: 1200px;
    }
    #castle {
        display: flex;
        margin: 0;
        width: auto;
        height: 1200px;
    }
    form > p {
        font-size: 50px;
    }
    form > h2 {
        font-size: 45px;
    }
    #enter {
        font-size: 55px;
    }
    .email {
        font-size: 60px;
    }
    #email-field {
        height: 50px;
        width: 12%;
        border: solid 2px #719B43;
        align-items: center;
    }
    .meetup-times {
        border-radius: 2px;
        box-sizing: border-box;
        color: gray;
        padding-bottom: 5px;
        padding-top: 5px;
        font-size: 40px;
        width: 40%;
        text-align: center;
        margin-left: 30%;
    }
   .map {
    position: relative;
    height: 0;
    padding-bottom: 50%;
   }
   .map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 70%;
    margin-left: 6%;
   }
}

/* For large to medium screens sizes from 1440px wide and down */
@media screen and (max-width: 1440px){
    .biography {
        padding: 30px 0;
        margin-top: 0;
    }
    .column2 {
        width: 100%;
        height: 100%;
    }
    section iframe {
        width: 60%;
        margin-left: 12%;
    }
    #video {
        margin-left: -10%;
    }
}
/* For large to medium screens sizes from 1024px wide and down */
@media screen and (max-width: 1024px) {
    hr {
        display: none;
    }
    header p {
        max-width: 20%;
        font-size: 10px;
        flex: 0 0 50%;
        margin-left: 3%;
    }
   .row img {
       max-height: 400px;
       max-width: 500px;
   }
   .reviews {
       width: 50%;
       margin-left: 40%;
       margin-top: -8%;   
    }
   .row2 {
       margin-left: -85px;
   }
   .column2 {
       margin-left: 11%;
   }
   #castle {
       margin-top: 5%;
   }
   .meetup-times {
    border-radius: 2px;
    box-sizing: border-box;
    color: gray;
    font-size: 20px;
    margin-left: 20%;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 60%;
   }   
   section iframe {
    width: 80%;
    margin-left: 70px;
    }
}
/* For medium to small tablet screens sizes from 768px wide and down */
@media screen and (max-width: 768px){
    #menu-bar  {
        display: flex;
        flex-direction: column-reverse;
        float: right;
        line-height: 12px;
        margin-top: 25px;
        padding: 0;
    }
    header p {
        margin-left: 50px;
        max-width: 30%;
    }
    .book-club {
        display: flex;
        width: 100%;
        height: 450px;
    }
    section iframe {
        width: 80%;
        margin-left: 5px;
    }
    .reviews {
        width: 20%;
        font-size: 18px;
        margin-left: 40%;
        margin-top: -18%;   
     }
    #castle {
        display: flex;
        width: 100%;
        height: 450px;
    }
    #hero-image {
        display: flex;
        width: 100%;
        height: 400px;
    }
    .megan {
        max-width: 25%;
        margin-left: 4%;
    }
    #logo {
        max-width: 50%;
        margin-bottom: -10px;
        margin-top: -3px;
    }
    .row img {
        max-height: 300px;
    }
    #video {
        margin-left: 0;
    }
    #robin {
        font-size: 25px;
    }
    #summary {
        font-size: 25px;
    }
    #list {
        font-size: 25px;
    }
    .column2 img {
        width: 100%;
        margin-left: -30px
    }
}
/* For medium to small phone screens sizes from 425 wide and down */
@media screen and (max-width: 425px){
    #logo {
        display: flex;
        float: inline-end;
        font-size: xx-large;
        line-height: 40px;
        }
    #menu-bar {
        display: flex;
        align-items: end;
        justify-content: flex-start;
        font-size: smaller;
        float: right;
        padding: 0;
        line-height: 1px;
        }
    .megan {
        font-size: 15px;
        margin-left: 7%;
        margin-bottom: 3px;
        }
    .reviews {
        display: none;
        }
    #hero-image {
        display: flex;
        width: 100%;
        height: 200px;
        margin: 0;
    }
    .column2 img {
        width: 100%;
        margin-left: 10px
    }
    .book-club {
        display: flex;
        width: 100%;
        height: 200px;
        margin: 0;
    }
    #enter {
        font-size: 30px;
    }
    input[type=submit] {
        margin-left: -2px;
    }
    .map {
        position: relative;
        height: 0;
        padding-bottom: 55%;
        overflow: hidden;
    }
    .row img {
        height: auto;
        width: 100%;
    }
    #robin {
        font-size: 20px;
    }
    .column-a {
        position: sticky;
        top: 5px;
        left: 5px;
    }
    .column-b {
        position: relative;
        top: 20px;
        right: 20px;
    }
    #video {
        position: relative;
        height: 0;
        padding-bottom: 55%;
        overflow: hidden;
    }
    footer {
        font-size: 15px;
    }
    #castle {
        display: flex;
        width: 100%;
        height: 200px;
        margin: 0;
    }
    .column2 img {
        width: 100%;
        margin-left: 0;
    }
    .book-club {
        display: flex;
        width: 100%;
        height: 200px;
        margin: 0;
    }
    #enter {
        font-size: 30px;
    }
    input[type=submit] {
        margin-left: 15px;
    }
}
/* For medium to small phone screens sizes from 375 wide and down */
@media screen and (max-width: 375px) {
    #logo {
        display: flex;
        float: inline-end;
        font-size: xx-large;
        }
    #menu-bar {
        display: flex;
        align-items: end;
        justify-content: flex-start;
        font-size: smaller;
        line-height: 5px;
        padding: 0;
        margin-top: -50px;
        }
        .megan {
        font-size: 15px;
        margin-left: 25px;
        }
        .reviews {
        display: none;
        }
        #list {
            font-size: 18px;}
     /*bug found when reviews go smaller with screen size, removed from display of mobile phones*/
        #hero-image {
            display: flex;
            width: 100%;
            height: 200px;
            margin: 0;
        }
        .row img {
            height: 170px;
            width: 170px;
        }
        .column-a {
            position: sticky;
            top: 5px;
            left: 5px;
        }
        .column-b {
            position: relative;
            top: 20px;
            right: 20px;
        }
        #robin {
            font-size: 20px;
        }
        #video {
            position: relative;
            height: 0;
            padding-bottom: 55%;
            overflow: hidden;
        }
        .social-networks {
            font-size: 10px;
        }
        #castle {
            display: flex;
            width: 100%;
            height: 200px;
            margin: 0;
        }
        .column2 img {
            width: 100%;
            margin-left: 5px
            
        }
        .book-club {
            display: flex;
            width: 100%;
            height: 200px;
            margin: 0;
        }
        #enter {
            font-size: 30px;
        }
        input[type=submit] {
            margin-left: -2px;
        }
        .map {
            position: relative;
            height: 0;
            padding-bottom: 55%;
            overflow: hidden;
        }
        #summary {
            font-size: 20px;
        }
}


/* For small phone screens sizes from 320 wide and down */
@media screen and (max-width: 320px) {
#logo {
    display: flex;
    float: inline-end;
    font-size: xx-large;
    line-height: 40px;
    }
#menu-bar {
    display: flex;
    align-items: end;
    justify-content: flex-start;
    margin-top: -30%;
    font-size: smaller;
    float: right;
    padding: 0;
    line-height: 5px;
    }
    .megan {
    font-size: small;
    margin-left: 5%;
    margin-bottom: 3px;
    }
    .reviews {
    display: none;
    }
 /*bug found when reviews go smaller with screen size, removed from display of mobile phones*/
    #hero-image {
        display: flex;
        width: 100%;
        height: 200px;
        margin: 0;
    }
    .row img {
        height: 170px;
        width: 170px;
    }
    .column-a {
        position: sticky;
        top: 5px;
        left: 5px;
    }
    .column-b {
        position: relative;
        top: 20px;
        right: 20px;
    }
    #robin {
        font-size: 20px;
    }
    #video {
        position: relative;
        height: 0;
        padding-bottom: 55%;
        overflow: hidden;
    }
    .social-networks {
        font-size: 10px;
    }
    #castle {
        display: flex;
        width: 100%;
        height: 200px;
        margin: 0;
    }
    .column2 img {
        width: 100%;
        margin-left: 10px
        
    }
    .book-club {
        display: flex;
        width: 100%;
        height: 200px;
        margin: 0;
    }
    #enter {
        font-size: 30px;
    }
    input[type=submit] {
        margin-left: -2px;
    }
    .map {
        position: relative;
        height: 0;
        padding-bottom: 55%;
        overflow: hidden;
    }
    #summary {
        font-size: 20px;
    }
}