@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=PT+Sans+Narrow&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    background-color: #FAFCF8;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    color: #4a4a4a;
    font-size: larger;
}

/*headings and logo*/

h1, h3 {
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #719B43;
    margin-left: 5px;
    padding: 20px;
}

.megan {
    text-align: justify;
    color: #888E8E;
    padding: 4px;
    font-size: 20px;
}

hr {
    border-top: 1px outset #888E8E;
    width: 100%;
    margin: 5px 0;
}

#logo {
    float: left;
    font-size: 250%;
    background: transparent;

}

#top {
    background: transparent;
}


/*navigation links*/

#menu-bar {
    font-size: 120%;
    letter-spacing: 5px;
    font-weight: bold;
    padding: 20px;
}

#menu-bar a {
    text-decoration: none;
    color: rgb(220, 108, 51);
}

#menu-bar,
#logo {
    line-height: 75px;
}

#menu-bar a:hover {
    border-bottom: 1px solid rgb(220, 108, 51);
}

#menu-bar li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

.active {
    border-bottom: none;
}

/*hero image*/

#hero-image {
    background-image: url(../assets/images/hero-image.jpeg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-left: 10px;
    padding-top: 40px;
}


.reviews {
    font-family: cursive;
    color: #888E8E;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    text-transform: none;
}

/*biography and portrait*/

.column {
    margin: auto;
    justify-content: center;
    display: flex;
    width: 100%;
    padding: 5px;
}

.row {
    display: flex;
    justify-content: center;
    
}

#biography {
    height: 500px;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 20px;
    text-align: center;
}

#middle-content {
    width: 70%;
    height: 30px;
    float: right;
    display: block;
    margin-left: 30px;
    margin-top: 50px;
    padding: 2%;
    font-family: 'PT Sans Narrow', sans-serif;
}

#middle-review {
    font-size: larger;
    height: 600px;
    width: 50%;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: -20%;
    margin-left: 25%;
    text-align: center;
}

/*social networks & footer*/

footer {
    height: 190px;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 130%;
    margin: 30px 0 30px 0;
    padding: 5%;
    color: black;
}
footer > h2 {
    text-align: center;
    color: #888E8E;
    padding-top: 10%;
}

/*book gallery*/


#series {
    background-image: url(../assets/images/castle.jpeg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

#farseer {
    font-size: inherit;
    font-family: inherit;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    text-align: center;
}
#times { 
    font-family: cursive;
    color: #888E8E;
    text-transform: none;
}
/*meetup section styling*/

.meetup-section {
    clear: left;
    background-size: cover;
    background-position: center;
    text-align: center;
    
}
.book-club {
    background-image: url(../assets/images/wine.jpeg);
    height: 500px;
    width: 80%;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: -20%;
    text-align: center;
}

.email  {
    text-align: center;
    padding: 10%;
    font-size: larger;
}

input[type=submit] {
	margin-top: 20px;
	margin-left: 1rem;
	padding: 1rem;
	background-color: #719B43;
	color: white;
	border: none;
	border-radius: 7px;}

#email-field {
    border: solid 1px #719B43;
    border-radius: 5px;
    height: 30px;    
    text-align: left;
}
form > p {
    margin: 50px;
    color: #4a4a4a;
    font-size: larger;
}
form > h2 {
    margin-top: 10%;
}

/*media queries*/

/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px){
    #middle-review{
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }
    .hero-outer {
        width: auto;
    }

    #biography {
        padding: 30px 0;
        margin-top: 0;
    }

    #reviews {
        width: auto;
        padding: 0;
    }

    .reviews {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #times {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    hr {
        display: none;
 }
    #series {
        background-image: url('../assets/images/castle.jpeg') no-repeat 50% 50%;
        height: 300px;
        width: 100%;
    }
}