@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=PT+Sans+Narrow&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
header {
    font-family: 'PT Sans Narrow', sans-serif;
    color: red;
}
body {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    color: aqua;
}
/*headings and logo*/
h1, h2 {
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #3a3a3a;
}
#logo {
    float: left;
    font-size: 250%;
}